<div id="<%= dom_id group_expenditure %>">
  <p>
    <strong>Group:</strong>
    <%= group_expenditure.group_id %>
  </p>

  <p>
    <strong>Expenditure:</strong>
    <%= group_expenditure.expenditure_id %>
  </p>

</div>
