<p style="color: green"><%= notice %></p>

<h1>Group expenditures</h1>

<div id="group_expenditures">
  <% @group_expenditures.each do |group_expenditure| %>
    <%= render group_expenditure %>
    <p>
      <%= link_to "Show this group expenditure", group_expenditure %>
    </p>
  <% end %>
</div>

<%= link_to "New group expenditure", new_group_expenditure_path %>
