<p style="color: green"><%= notice %></p>

<section class='d-flex flex-column justify-content-between flex-grow-1'>
  <div id="groups">
    <% @groups.each do |group| %>
      <%= render group %>
    <% end %>
  </div>
</section>
<div>
  <%= link_to(new_group_path, 
      html_options = {class:'btn btn-success w-100 position-fixed bottom-0 start-0 rounded-0 text-white py-2'}) do %>
    <div class='py-2 border border-2'>NEW GROUP</div>
  <% end %>
</div>
