<div id="<%= dom_id expenditure %>" class="card w-100">
  <div class='d-flex justify-content-between'>
    <span>
      <%= link_to expenditure.name, expenditure_path(expenditure.id), class:'text-secondary' %>
    </span>
    <span class='fw-bold'>
      <%= expenditure.amount %>$
    </span>
  </div>
  <div class='font-size-08 text-secondary'>
    <%= expenditure.created_at.strftime('%d %b %Y')%>
  </div>
</div>
