<h1>Editing expenditure</h1>

<%= render "form", expenditure: @transaction %>

<br>

<div>
  <%= link_to "Show this expenditure", @transaction %> |
  <%= link_to "Back to expenditures", transactions_path %>
</div>
