<div id="expenditures" class='w-100 pb-button-distance'>
  <% @transactions&.each do |transaction| %>
    <%= render partial: 'expenditure', locals: {expenditure: transaction} %>
  <% end %>
</div>

<div>
  <%= link_to(new_expenditure_path, 
      html_options = {class:'btn btn-success w-100 position-fixed bottom-0 start-0 rounded-0 text-white py-2'}) do %>
    <div class='py-2 border border-2'>NEW TRANSACTION</div>
  <% end %>
</div>