<p style="color: green"><%= notice %></p>
<div id="expenditures" class='w-100'>
  <% @transactions&.each do |transaction| %>
    <%= render partial: 'expenditure', locals: {expenditure: transaction} %>
  <% end %>
</div>

<div>
  <%= link_to(new_transaction_path, 
      html_options = {class:'btn btn-success w-100 position-absolute bottom-0 start-0 rounded-0 text-white py-2'}) do %>
    <div class='py-2 border border-2'>NEW TRANSACTION</div>
  <% end %>
</div>