<%= render @transaction %>

<div>
  <%= link_to "Edit", edit_expenditure_path(@transaction), class:'btn btn-warning d-block mb-2 text-white' %>
  <%= button_to "Destroy", expenditure_path(@transaction.id), method: :delete, class:'btn btn-danger' %>
</div>
